Assets/Models/Cupboard/Cupboard.obj filter=lfs diff=lfs merge=lfs -text
D:/AllProjects/ProjectsUnity/MyPet/Assets/Models/Cupboard2/Cupboard.obj filter=lfs diff=lfs merge=lfs -text
*.obj filter=lfs diff=lfs merge=lfs -text
